.box-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px ;
    color: rgb(255, 255, 255);
    
}

.box-form form{
    background-color:#11313a;
    border-radius: 10px;
    padding: 30px;
    height: 200px; 
    box-shadow: #1304e0;
}

form {
    width: 100%;
    max-width: 350px;
}
 
.box-form form p {
    font-size: 14px;
    font-weight: 900;
    color: #f7f7f7;
}


.box-form input {
    width: 100%;
    color:#ffffff;
    position: relative;
    padding: 5px;
    border: 0;
    background: none; 
    border-bottom: 2px solid #363f43;
    outline: none;
}

.box-form input:focus {
    border-bottom: 1px solid #363f43;
    transition: ease-in 0.3s;
}

.box-form form button {
    margin: 5% 40%;
    padding: 7px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #4f5d62;
    background-image: linear-gradient;
    box-shadow: rgba(255, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}